

$primaryColor: #B9C800;
$secondaryColor: #35261A;
$tertiaryColor: #CEC9A1;
$whiteColor: #ffffff;
$blackColor: #000000;


$greyColor: #ebedf3;
$backgroundCard: #fdfdfd;
$degreeCardHeader-1: #ccdc48;
$degreeCardHeader-2: #bfe34c;


$backgroundApp: #f5f6fa;
$borderBottom: #f3f3f3;