// Colors
$colorText: #464240;
$colorText-l: #817b77;
$colorText-d: #464240;
$colorBackground: #fff;

$colorPrimary: #b9c800;
$colorPrimary-l: #effb4d;
$colorPrimary-d: #859700;
$colorOnPrimary: $colorText;

$colorSecondary: #9ae3ea;
$colorSecondary-l: #d5f3f6;
$colorSecondary-d: #68b1b8;
$colorOnSecondary: $colorText;

// Chat
$chatFontSize: 23.354px;
$chatWidth: 13.8125em;
$chatContentHeight: 17.770em;
$chatBallWidth: 2.087em;

// Bullet
$bulletFontSize: 16px;
$bulletRight: .625em;
$bulletBottom: 2.625em;
$bulletWidth: 3em;
